/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.d3text{
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: .2s all linear;
}
.square{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	margin-right: 5px;
}
.board-row{
	margin-bottom: 5px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.square{
		width: 150px;
		height: 150px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.square{
		width: 200px;
		height: 200px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.square{
		width: 250px;
		height: 250px;
	}
}